:root {
  --light-blue: #f3f5fc;
  --light-gray: #d8dfe8;
  --dark-blue: #0a3871;
  --white: #ffffff;
  --gray-400: #495057;
  --gray-500: #343a40;
  --Inter: "Inter", sans-serif;
}
body {
  min-width: 320px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  font-style: normal;
}
main {
  display: flex;
  justify-content: space-between;
  /* Light blue */
  font-family: var(--Inter);
  padding: 0px 25px;
}
/* Rectangle 1 logo and textarea */
.logo {
  width: 120px;
  height: 48px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left div:nth-child(1) {
  flex-grow: 1;
}
#texto-usuario {
  display: flex;
  margin-top: 5%;
}
textarea {
  min-height: 48px;
  max-height: 58vh;
  overflow-y: scroll;
  width: 100%;
  padding: 5px;

  color: var(--dark-blue);
  font-family: var(--Inter);
  font-size: 32px;
  line-height: 150%;

  border: none;
  background: transparent;
  margin-top: 80px;
}
textarea:focus-visible {
  outline: none;
}
textarea::placeholder {
  color: var(--dark-blue);
}
.right {
  width: 35%;
  height: 90vh;
  /* White */
  background: var(--white);
  /* shadow */
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 3%;
  margin-top: 5%;
}
/* Muñeco con diamante */
.right img {
  /* width: 336px;
  height: 304px; */
  padding: 32px;
}
/* frame 5, mensaje no encontrado */
.message {
  font-family: var(--Inter);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}
.message p:first-child {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  color: var(--gray-500);
}
.message p:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-top: 16px;
  color: var(--gray-400);
}
.right button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  left: 40px;
  top: 850px;
}

/* solo letras minúsculas sin acentos */
.encrypt-section p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  /* Gray/gray-400 */
  color: var(--gray-400);
  opacity: 0.8;
}
.encrypt-section {
  display: flex;
  flex-direction: column;
}
/* the type and size of the buttons */
.buttons {
  display: flex;
  gap: 14px;
  margin-bottom: 53px;
  padding-right: 10px;
}
.button {
  font-family: var(--Inter);
  display: flex;
  justify-content: center;
  padding: 24px;
  width: 85%;
  border-radius: 24px;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  /* line-height: 19px; */
}
.button-blue {
  background-color: var(--dark-blue);
  color: var(--white);
}
.button-blue:hover {
  border: 2px solid var(--dark-blue);
  background-color: var(--light-gray);
  color: var(--dark-blue);
}
.button-gray {
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
}
div .button-gray {
  background-color: var(--light-gray);
}
.right .button-gray {
  display: none;
}
.button-gray:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}
footer {
  display: flex;
  align-items: center;
  font-family: var(--Inter);
  margin: 0 auto;
}
/*  div that shows the encrypted/decrypted text */
.found {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 36px;
  color: var(--gray-400);
  padding: 32px;
  height: 58vh;
  overflow-y: auto;
  overflow-wrap: anywhere;
}
#copied-message {
  color: var(--gray-400);
  font-size: small;
  margin: 0 auto;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1439px) {
  .button {
    width: 250px;
  }
  textarea {
    width: 100%;
  }
  .buttons {
    width: 500px;
  }
  .logo {
    width: 110px;
    height: 38px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  main {
    flex-direction: column;
  }
  .left {
    height: 75vh;
    padding: 0 30px;
  }
  .right {
    height: auto;
    width: auto;
    margin: 40px;
    padding: 32px;
  }
  .right img {
    display: none;
  }
  .buttons {
    justify-content: space-between;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 770px) {
  main {
    flex-direction: column;
  }

  .left {
    flex-direction: column;
    padding: 24px 16px;
    display: flex;
  }
  .right {
    flex-direction: column;
    height: 70vh;
    padding: 0 30px;
  }
  textarea {
    font-size: 28px;
  }
  .encrypt-section {
    flex-direction: column;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .button {
    width: 100%;
  }
  .right {
    height: auto;
    width: auto;
    margin: 60px 30px 40px;
    padding: 10px;
  }
  section img {
    display: none;
  }
  .found {
    width: 260px;
  }
}
